<!DOCtype HTML5>
<html lang ="en">

<link rel="stylesheet" href="css/style.css">

<head>
<title>Check ISBN</title>

	<body>
	<center>

	<h1>Please enter the ten digit isbn number in which you would like to validate.</h1>
	<form method="post" action="/index" >
	<input type="text" name="isbn10" minlength="10" maxlength="10" placeholder="10 digit isbn">
	<input type="submit" name="submit">
	<h1>Please enter the thirteen digit isbn number in which you would like to validate.</h1>
	<form method="post" action="/index" >
	<input type="text" name="isbn13" minlength="13" maxlength="13" placeholder="13 digit isbn">
	<input type="submit" name="submit">
		
	</form>