<!DOCtype HTML5>
<html lang ="en">

<link rel="stylesheet" href="css/style.css">

<head>
<title>Check ISBN</title>

	<body>
	<center>

	<h3><i><b>Please enter the isbn number in which you would like to validate.</b></i></h3>
	<form method="post" action="/index" >
	<input type="text" name="isbn" placeholder="isbn number">
	
	
	<br>
	<p><input type="submit" name="submit"></p>

	For details of the aws bucket isbncsv, please click here
	<input type="button" onclick="location.href='/isbn.erb';" value="aws results" />	
	</form></center>