
<center>
The isbn number in which you entered, <%=isbn10%><%=isbn13%>, is <%=valid%>
<form><p>Would you like to enter another number for validation?</p>
	<p>Click here to try again</p>
	
	<input type="button" onclick="location.href='/';" value="Try Again" />
</form></center>